body {
    background-image: url("../images/backimagejewel.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h1 {
    text-align: center;
    color: aquamarine;

}
h2 {
    text-align: center;
    color: aquamarine;
}

h3 {
    text-align: center;
    color: aquamarine;
}

.jewels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}


.jewel{
    border:1px solid green;
    height:200px;
    width:200px;
}

.wordies {
    text-align: center;
    color: aquamarine;
    
}