body {
    background-image: url("../images/backimagejewel.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
h3 {
    color: whitesmoke;
}

.jewels{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}


.jewel{
    border:1px solid green;
    height:200px;
    width:200px;
}

.wordies {
    color: whitesmoke;
}